/* Обнуление */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,
body {
	height: 100%;
	line-height: 1;
	background: #ffffff;
	font-size: 14px;
	color: white;
	font-weight: 500;
	font-family: Inter;
}
/* ---------------------------------------------------------------------------- */
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
/* ---------------------------------------------------------------------------- */
._container {
	max-width: 1296px;
	padding: 0px 15px;
	margin: 0px auto;
	box-sizing: content-box;
}
._ibg {
	position: relative;
}
._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
/* ===HEADER=============================================== */
.header__wrapper{
    border-bottom: 1px solid #E1DFDF;
    z-index: 2;
}
.header__container{
    width: 100%;
    height: 106px;
}
.header__box{
    display: flex;
    width: 100%;
    height: inherit;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}
.header__items{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    margin: 0 20px;
}
.header__item{
    line-height: 140%;
}
.header__item:not(:last-child){
    margin: 0 40px 0 0 ;
}
.header__link{
    color: white;
}
.header__link:hover{
    text-decoration: underline;
    opacity: 0.8;
}
.header__social-box{
    display: flex;
}
.header__social-box >*:not(:last-child){
    margin: 0 20px 0 0;
}
/* ===MAIN=================================================================== */
.main{
    flex: 1 1 auto;
}
.main__container{
    position: relative;
    z-index: 2;
}
.main-block__body > *:not(:last-child){
    margin: 130px 0 60px 0;
}
.main-block__body{
    width: 50%;
}
.main__title{
    font-size: 48px;
    line-height: 140%;
    font-weight: 800;
}
.link-block__button{
    width: 80px;height: 80px;
    border: 1px solid white;
    border-radius: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.3s;
}
.link-block__button_inside{
    border-radius: 200px;
    width: 63px;height: 63px;
    background-color: #8D86C9;
    display: flex;
    align-items: center;
    justify-content: center;
}
.link-block__button:hover{
    background-color: #8D86C9;
    border: none;
    cursor: pointer;
}
.main__link-block{
    display: flex;
    align-items: center;
    gap: 30px;
}
.link-block__text{
    font-size: 18px;
    font-weight: 600;
    line-height: 140%;
    width: 27%;
}
.main-block__image{
    position: absolute;
    left: 0;top: 0;
    width: 100%;height: 100%;
}
/* ===service============================================== */
.services{
    margin: 101.5px 0 0 0;
}
.services__box{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: space-between;
}
.services__column{
    background-color: #8D86C9;
    padding: 35px;
    transition-duration: 0.6s;
    /* flex: 0 1 25%; */
}
.services__column:hover{
    background-color: #776EC6;
}
.service__title{
    font-size: 18px;
    font-weight: 600;
    line-height: 140%;
    margin: 0 0 17px 0;
}
.service__name{
    font-size: 24px;
    font-weight: 700;
    line-height: 140%;
}
.service__name-block{
    display: flex;
    justify-content: space-between;
    gap: 55px;
}
.services__column a{
    color: white;
}
/* ===advantages=================================================== */
.advantages__container{
    padding: 280px 0 150px;
}
.advantages__box{
    display: flex;
    position: relative;
    justify-content: center;
    gap: 24px;
    margin: 0 auto;
}
.advantages__item{
    padding: 25px 20px;
    position: relative;
    flex: 0 1 33.333%;
    text-align: center;
    border: 1px solid #F7ECE1;
}
.advantages__text{
    position: absolute;
    bottom: 65px;
    padding: 0 25px;
    margin: 0 auto;
    font-size: 27px;
    font-weight: 700;
    line-height: 140%;
}
@media (max-width:1100px) {

    
}
/* =about=============================================================== */
.about__container{
   max-width: 1076px;
   margin: 0 auto 75px;
}
.about__box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-picture{
    margin: 0 -86px 0 0 ;
    z-index: 2;
    position: relative;
}
.item-body{
    color: #333;
    padding: 70px 60px 70px 146px;
    background-color: #F7ECE1;
}
.title{
    color: #333;
    font-size: 36px;
    font-weight: 700;
    line-height: 140%;
}
.title:not(:last-child){
    margin: 0 0 25px 0;
}
.about__text{
    font-size: 14px;
    line-height: 140%;
}
.about__text:not(:last-child){
    margin: 0 0 35px 0;
}
.about__subtitle{
    font-size: 21px;
    font-weight: 600;
    line-height: 140%;
    margin: 0 0 25px 0;
}
.list-item{
    font-size: 14px;
    line-height: 140%;
    background: url('../img/svg/about-list.svg') 0 4px no-repeat;
    padding: 0 0 0 31px;
}
.list-item:not(:last-child){
    margin: 0 0 10px 0;
}
@media (max-width: 1200px) {
    .item-body{
        padding: 70px 60px;
    }
    .item-picture {
        background-color: #F7ECE1;
        margin: 0 0 30px 0;
    }
    .about__box{
        flex-wrap: wrap;
    }
    .advantages__box{
        flex-wrap: wrap;
    }
}
/* =====trainers================================================= */
.trainers__container{
    margin: 75px auto;
    color: #333;
}
.trainers .title{
    margin: 0 0 75px 0;
}
.trainer__img img{
    padding: 0 15px;
    border: 1px solid #F7ECE1;
}
.trainer__img:not(:last-child){    
    margin: 0 0 25px 0;
}
.trainers__box{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    gap: 24px;
}
.treiner__column{
    max-width: 196px;
    flex: 0 1 16.667%;
}
.trainer__name{
    font-size: 21px;
    padding: 0 40px;
    font-weight: 600;
    line-height: 140%;
}
.trainer__name:not(:last-child){
    margin: 0 0 15px 0;
}
.trainer__text{
    font-size: 14px;
    line-height: 140%;
    font-weight: 300;
}
/* ===price and serv=============================== */
.main__box{
    padding: 75px 0;
}
.main__body{
    display: flex;
    color: #333;
    justify-content: space-between;
}
.serv__container .title, .price__container .title{
    margin: 0 0 50px 0;
}
/* ==price====================================================== */
.price{
    flex: 1 1 100%;
    margin: 0 0 50px 0;
}
.price__container{
    max-width: 526px;
}
.price__box{
    width: 100%;
}
.price__item{
    display: flex;
    padding: 15px 30px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition-duration: 0.5s;
    background-color: #8D86C9;
}
.price__item:hover{
    background-color: #7870c1;
}
.price__item:not(:last-child){
    margin: 0 0 30px 0;
}
.price__title{
    font-size: 21px;
    font-weight: 600;
    line-height: 140%;
}
.price__title a{
    color: white;
}
/* ===serv======================================= */
.serv__container{
    max-width: 636px;
}
.serv__img{
    border: 1px solid #F7ECE1;
    padding: 30px 25px;
    position: relative;
}
.img-text{
    font-size: 27px;
    font-weight: 700;
    line-height: 140%;
    color: white;
    position: absolute;
    bottom: 60px;
    left: 65px;
}
@media (max-width: 1267px) {
    .main__box{
        flex-wrap: wrap;
        justify-content: center;
    }  
}
/* =footer====================================================== */
.footer{
    background-color: #F7ECE1;
}
.footer__box{
    display: flex;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
}
.footer__com{
    color: #333;
    opacity: 0.3;
}
.footer__menu a{
    color: #333;
}
.footer__social img:not(:last-child){
    margin: 0 19px 0 0;
}